$main-clor: #a0c49d;
$second-color: #c4d7b2;
$light-green-color: #e1ecc8;
$dark-green-color: #78925f;
$light-color: #f7ffe5;
$pure-white: #fff;
$btn-color: #e01f4d;
$btn-second-color: #e01f4d;
$dark: #333;
$gray: gray;
$img-shadow: rgba(0, 0, 0, 0.8);
$img-shadow2: linear-gradient(
	45deg,
	rgba(50, 48, 48, 0.75),
	rgba(44, 44, 46, 0.75)
);
